# You need Python3..

# external requirements
numpy
mgrd
geopandas
cartopy

scikit-learn
scipy
pandas
matplotlib
jupyter
jupyterlab
ipykernel
ipython
clearml
plotly
seaborn
tensorflow

#pip install -i https://test.pypi.org/simple/ sentinel-1-python
#pip install -i https://test.pypi.org/simple/ infer-ship-detection
#pip install -i https://test.pypi.org/simple/ sar-ship-detection